[user]
	email = ***@***.***
	name = ***
[core]
	# グローバルの除外ファイル管理
	excludesfile = ~/.zsh/git/gitignore
	# GitHookのパス
	hooksPath = ~/.zsh/git/hooks
	# ファイル別設定
	attributesfile = ~/.zsh/git/gitattributes
	# 大文字小文字を区別
	ignorecase = false
	# 日本語ファイル名をエンコードしない
	quotepath = false
[alias]
  # graph コミット履歴を装飾して表示
	graph = log --pretty=format:'%Cgreen[%cd] %Cblue%h %Cred<%cn> %Creset%s' --date=short  --decorate --graph --branches --tags --remotes
[init]
  # デフォルトブランチをmainに
	defaultBranch = main
[commit]
  # コミットメッセージのデフォルト
	template = ~/.zsh/git/commitMsg
[push]
  # upstreamを指定しなくても同名ブランチとしてプッシュする
	default = current
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[color]
	ui = auto
