# プロジェクト固有のアクション定義
set -e

case "${PROJECT_NAME}" in
sample_project )
  case $action in
  sample )
    echo $TEXT_INFO "サンプルアクション"
    ;;
  * )
    exit $EXIT_CODE_ACTION_NOT_FOUND &> /dev/null
  esac
  ;;
* )
  exit $EXIT_CODE_ACTION_NOT_FOUND &> /dev/null
esac
