# プロジェクトを置くディレクトリ
PROJECTS_DIR="${HOME}/Projects"
# スクリプト設定の同期先
EXPORT_DIR="${HOME}/Dropbox/Settings/Shell/zsh"
# Gitクライアント
APP_GIT_CLIENT="/Applications/GitSprout.app"
# コードエディタ
APP_EDITOR="/Applications/Cursor.app"
