[default]
  BASE_BRANCH="staging"
  BRANCH_PREFIX="issue-"
  BACKLOG_PREFIX="undefined"
  APP_ROOT="/var/www/site"
  DEPLOY_DIR=""
  DEPLOY_TO=""
  LOG_PRODUCTION="/var/log/"
  LOG_LOCAL="php.log"
  DOMAIN_PRODUCTION=""
  DOMAIN_STAGING=""
  SSH_NAME_PRODUCTION=""
  SSH_NAME_STAGING=""
  URL_FRONT="/"
  URL_ADMIN="/admin"
  VM_PLATFORM="docker"
  VAGRANT_SSH_PROTOCOL=false
